<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Wyatt Petryshen</a>
    </li>
    <li>
      <a href="https://wyattsp.github.io/AboutMePage/research/" onclick = $("#menu-close").click(); >Research</a>
    </li>
    <li>
      <a href="https://wyattsp.github.io/AboutMePage/philosophy/" onclick = $("#menu-close").click(); >Philosophy</a>
    </li>
    <li>
      <a href="https://wyattsp.github.io/AboutMePage/cv/" onclick = $("#menu-close").click(); >CV</a>
    </li>
    <li>
      <a href="https://wyattsp.github.io/AboutMePage/aboutme/" onclick = $("#menu-close").click(); >About Me</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
