<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Wyatt Petryshen</a>
    </li>
    <li>
      <a href="#experience" onclick = $("#menu-close").click(); >Experience</a>
    </li>
    <li>
      <a href="#research" onclick = $("#menu-close").click(); >Research</a>
    </li>
    <li>
      <a href="#about-me" onclick = $("#menu-close").click(); >About Me</a>
    </li>
    <li>
      <a href="#people" onclick = $("#menu-close").click(); >People</a>
    </li>
    <li>
      <a href="#footer" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
