<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="https://wyattsp.github.io/Wyatt-Petryshen/"  onclick = $("#menu-close").click(); >Wyatt Petryshen</a>
    </li>
    <li>
      <a href="https://wyattsp.github.io/Wyatt-Petryshen/" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#elk-valley-coal-mining" onclick = $("#menu-close").click(); >Elk Valley Coal Mining</a>
    </li>
    <li>
      <a href="#conodont-research" onclick = $("#menu-close").click(); >Conodont Research</a>
    </li>
    <li>
      <a href="#footer" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
