<section id="pageImages" class="Square-item">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="Square-item">
              <a class="Square-item">
                <img class="img-IMG img-responsive" src="img/IMG_3540.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="Square-item">
              <a class="Square-item">
                <img class="img-IMG img-responsive" src="img/IMG_3540.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="Square-item">
              <a class="Square-item">
                <img class="img-IMG img-responsive" src="img/IMG_3540.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="Square-item">
              <a class="Square-item">
                <img class="img-IMG img-responsive" src="img/IMG_3540.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="https://wyattsp.github.io/AboutMePage/research/" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
